* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
    background-color: #dcddde;
}

.headerLogo {
    height: 75px;
}

.headerContent {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.headerLeftContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 325px;
}

a {
    color: #27ae60;
    text-decoration: none;
    font-size: 20px;
}