* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 968px;
    text-align: center;
}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Header */
header {
    background-color: #dcddde;
}

.headerLogo {
    margin-top: -10px;
    height: 75px;
}

.headerContent {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

nav {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.headerLeftContent {
    display: flex;
    align-items: center;
}

.headerRightContent {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.headerRightContent2 {
    display: flex;
    justify-content: space-between;
}

.headerText {
    color: #27ae60;
    text-decoration: none;
    font-size: 20px;

    &:hover {
        color: #2f80ed;
    }
}


/* ===================== Homepagina ===================== */
.bannerLogo {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ===================== Inlogscherm ===================== */
.loginForm {
    display: flex;
    justify-content: center;
}

.loginBox {
    margin: 100px;
    padding: 20px 0px;
    width: 400px;
    background-color: #dcddde;
    border-radius: 5px;
}

#name, #email, #password, .submit{
    width: 300px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #777777;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit {
    background-color: #27ae60;
    border: 1px solid #27ae60;
    color: white;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        background-color: #2f80ed;
        border: 1px solid #2f80ed;
    }
}

.accountQuestion {
    color: #2f80ed;
    font-size: 18px;

    &:hover {
        text-decoration: underline;
    }
}


/* ===================== Taak aanmaken ===================== */
.formPopUp {
    display: none;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

.createButton { 
    background-color: #27ae60;
    border: 1px solid #27ae60;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 30px;
    cursor: pointer;

    &:hover {
        background-color: #2f80ed;
        border: 1px solid #2f80ed;
    }
}

.createForm {
    display: flex;
    justify-content: center;
}

.createBox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px 0px;
    width: 400px;
    background-color: #dcddde;
    border-radius: 5px;
}

.create {
    display: flex;
    width: 300px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #777777;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    font-size: 20px;
}

#deadline {
    justify-content: center;
}

.closeButton {
    width: 130px;
    margin-top: 30px;
    padding: 10px;

    background-color: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 5px;
    box-sizing: border-box;
    
    color: white;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        background-color: #2f80ed;
        border: 1px solid #2f80ed;
    }
}

.formButtons {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

/* ===================== Taak kolommen ===================== */
.taskColumns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.taskColumn {
    background-color:#dcddde;
    border-radius: 5px;
    width: 300px;
    min-height: 300px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}


/* ===================== Taak vakken ===================== */
.tasks {
    background-color:#ffffff;
    border-radius: 5px;
    width: 260px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    text-align: left;
}

.taskName {
    font-size: 20px;
    font-weight: 500;
    max-width: 200px;
}

.departmentName {
    font-style: italic;
    font-weight: 300;
}

.deadlineName {
    margin-top: 10px;
    font-weight: 400;
}

.taskAlign {
    display: flex;
    justify-content: space-between;
}

.edit {
    color: black;
    }