* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 968px;
    text-align: center;
}

h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header {
    background-color: #dcddde;
}

.headerLogo {
    margin-top: -10px;
    height: 75px;
}

.headerContent {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

nav {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.headerLeftContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 325px;
}

a {
    color: #27ae60;
    text-decoration: none;
    font-size: 20px;

    &:hover {
        color: #2f80ed;
    }
}

/* Homepagina */
.bannerLogo {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Inlogscherm */
form {
    display: flex;
    justify-content: center;
}

.loginBox {
    margin: 100px;
    width: 400px;
    height: 250px;
    background-color: #dcddde;
    border-radius: 5px;
}

input[type=email], input[type=password], #submit {
    width: 300px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 5px;
    box-sizing: border-box;
}

#submit {
    background-color: #27ae60;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

